<div>
    <form class="comment-form">
        <div>
            <label for="comment-text">Title</label>
            <input class="input" type="text" id="comment-text" name="comment-text" placeholder="Add Comment Here"/>
        </div>
        <button type="submit" class="btn btn-primary">Post Comment!</button>
    </form>
</div>

<script src="/js/comment.js"></script>