<h1>CREATE A NEW BLOG POST</h1>
<p>Fill out the form below to create a new post!</p>
<div class="new-post-container">
    <form class="new-post">
        <div>
            <label for="post-title">Title</label>
            <input class="input" type="text" id="post-title" name="post-title" placeholder="Add Title of Post here"/>
        </div>
        <div>
            <label for="post-content">Content</label>
            <input class="input" type="text" id="post-content" name="post-content" placeholder="Add Post Contents here"/>
        </div>
        <button type="submit" class="btn btn-primary">Create Post</button>
    </form>
</div>

<script src="/js/create-post.js"></script>