<form class="login-form">
  <div class="form-group">
    <label for="loginInputEmail">Email address</label>
    <input type="email" class="form-control" id="loginInputEmail" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="loginInputPassword">Password</label>
    <input type="password" class="form-control" id="loginInputPassword" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>

<script src="/js/login.js"></script>